@charset "UTF-8";
#main {
  background: #f7f7f7; }
  #main ul {
    overflow: hidden; }
    #main ul li {
      float: left;
      width: 230px;
      height: 330px;
      margin-right: 8px;
      font-size: 14px; }
      #main ul li img {
        width: 230px;
        height: 230px; }
      #main ul li .price span:before {
        content: '￥'; }
      #main ul li .special_img {
        width: 472px;
        height: 325px; }
      #main ul li .discount {
        width: 40px;
        height: 20px;
        display: inline-block;
        border: 1px solid #f8584f;
        color: #f95872;
        background: #fdedec;
        text-align: center;
        margin-right: 5px; }
      #main ul li p {
        margin: 10px 0; }
    #main ul .special_li {
      width: 472px;
      height: 325px;
      margin-bottom: 5px; }
