.register .active a {
  width: 160px;
  background: #6e6e6e;
  color: #fff;
  text-align: center;
  word-spacing: 3px; }

.register .firstStep {
  border: 1px solid #ccc;
  margin-top: 10px;
  padding-left: 30px;
  padding-top: 20px;
  line-height: 30px;
  font-size: 16px; }
  .register .firstStep span {
    font-size: 12px; }
  .register .firstStep input {
    width: 250px;
    height: 30px;
    border: 1px solid #ababab;
    text-indent: 3px; }
  .register .firstStep label {
    margin-right: 10px; }
  .register .firstStep .firstStepLeft {
    width: 705px;
    float: left; }
    .register .firstStep .firstStepLeft #checkCode {
      width: 130px; }
    .register .firstStep .firstStepLeft .randomCode {
      display: inline-block;
      letter-spacing: 5px;
      background: #f8f8f8;
      width: 115px;
      text-align: center; }
    .register .firstStep .firstStepLeft .updateCode {
      cursor: pointer; }
    .register .firstStep .firstStepLeft .sendCode {
      width: 152px;
      height: 32px;
      background: url("../img/register/buttons.png") no-repeat -225px -168px;
      margin-left: 65px;
      cursor: pointer; }
    .register .firstStep .firstStepLeft .errorUsername, .register .firstStep .firstStepLeft .errorPhone {
      margin-left: 80px;
      color: red;
      font-size: 12px;
      opacity: 0; }
    .register .firstStep .firstStepLeft .sendCode:hover {
      background-position: -225px -210px; }
  .register .firstStep .firstStepRight {
    width: 220px;
    float: right; }
  .register .firstStep .userTip {
    width: 300px;
    font-size: 12px;
    line-height: 20px;
    margin: 10px 64px 0 0; }
  .register .firstStep .usernameP1 label {
    margin-top: 15px; }

.register .registerBottom {
  text-align: center; }
